*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/img/IMG_6433.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: #FFF; 
    font-family: 'Roboto Serif', sans-serif; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    
}

header h1{
    display: flex;
    align-items: center;
    margin: 0;
    
}
.menu ul{
    list-style: none;
    display: flex;
    margin: 0;
}

.menu li a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 20px;
}


.inicio{
    color: black;
    display: flex;
    align-items: center;
}
.inicio div{
    text-align: center;
    margin-left: 150px;
}
.sobre{
    background-color: rgb(29, 0, 66);
    padding: 20px;
    text-align: center;
    
}

.sobre img{
    height: 500px;
    margin: auto;
}

.skill{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
}

.progress{
    width: 750px;
}

.proyectos{
    background: rgb(128, 229, 255);
}

footer{
    background: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    text-align: center;
}
.social ul{
    display: flex;
    list-style: none;
}
.social li{
    padding: 10px;
}
.social a{
    text-decoration: none;
}